body {
	margin: 0;
}

h1 {
	font-size: 52px;
	letter-spacing: 2px;
}

p {
	font-size: 18px;
}

/* top banner */

header {
	background-image: url("images/donation13.jpg");
	height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.top-banner-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	color: white;
	text-align: center;
}
.link-button {
	color: white;
	text-decoration: none;
	background-color: #ff5959;
	padding: 0.5em 1em;
	font-size: 18px;
	border-radius: 5px;
	border: 2px solid #ff5959;
}
